.calendly {
  width: 100%;
  height: 80rem;
  margin-top: 5rem;
}
.calendly__heading {
  font-weight: 800;
  padding: 3rem 0;
  text-align: center;
  font-size: $section-title;
}
.calendly__content {
  border: 0;
}
