.conversion {
  color: #fff;
  gap: 7rem;
  padding: 6rem;
  margin-top: 10rem;
  margin-bottom: 2rem;
  background: linear-gradient(
    135.8deg,
    rgba(0, 0, 0, 0.85) 69.93%,
    rgba(238, 238, 238, 0.85) 150.82%
  );
  border-radius: 10px;
  text-align: center;

  @include for-desktop() {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
  }

  &__title {
    font-size: 2rem;
    line-height: 1.7;
    margin-bottom: 5rem;
    @include for-desktop() {
      flex: 1;
      text-align: left;
    }
    @include for-tablet() {
      font-size: 3.5rem;
    }
    @include for-desktop-lg() {
      flex: 0.7;
    }
  }
}
