.form {
  background-color: #fff;
  border-radius: 3rem;
  color: #000;
  display: flex;
  flex-direction: column;
  padding: 3.5rem 3.7rem;
  margin-top: 6rem;
  &__title {
    letter-spacing: 0.08rem;
    margin-bottom: 2.4rem;
  }
  &__groups {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 3rem;
  }
  &__group {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    &-label {
      font-size: 1.8rem;
    }
    &-input {
      padding: 0.5rem 1rem;
      border: 3px solid #e5e5e5;
      border-left: 5px solid $primary-color-900;
      border-radius: 5px;
    }
  }
  &__btn {
    border: 0;
    padding: 0.75rem 1.25rem;
    font-family: "Raleway", sans-serif;
    border-radius: 10px;
    background-color: #000;
    color: #fff;
    transition: all 0.3s ease-in-out;
    &:hover {
      transform: scale(1.05);
    }
  }
}
