.faq {
  &__list {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 4.5rem;
    &-item {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      text-align: left;
      font-family: "Raleway", sans-serif;
      &-question {
        cursor: pointer;
        font-weight: 800;
        position: relative;
        border-bottom: 3px solid #ddd;
        padding-bottom: 1rem;
        font-size: $faq-question;
        &::after {
          content: "\25BC";
          position: absolute;
          right: 0;
          // color: $primary-color-900;
        }
      }

      &-answer {
        opacity: 0;
        visibility: hidden;
        max-height: 0;
        overflow: hidden;
        transition: all 250ms linear;
      }
    }
  }
}

.show-question {
  max-height: 500px;
  opacity: 1;
  visibility: visible;
}
