.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  &__menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.4rem;
    border: 0;
    background: none;
    cursor: pointer;
    z-index: 50;
  }

  &__menu.menu-open .hamburger-menu-dash:nth-child(1) {
    background: white;
    transform: rotateZ(45deg);
    top: 8px;
  }
  &__menu.menu-open .hamburger-menu-dash:nth-child(2) {
    background: white;
    width: 0;
    transform: translateX(-50px);
  }
  &__menu.menu-open .hamburger-menu-dash:nth-child(3) {
    background: white;
    transform: rotateZ(-45deg);
    top: -8px;
  }
  &__wrapper {
    display: flex;
    align-items: center;
  }
  &__list {
    background: linear-gradient(
      133.67deg,
      rgba(0, 0, 0, 1) 67.82%,
      rgba(255, 255, 255, 1) 100%
    );
    position: fixed;
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    z-index: 30;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin: 0;
    opacity: 0;
    transition: all 0.3s ease-in-out;
    &-item a {
      width: 100%;
      display: block;
      color: #fff;
      text-transform: uppercase;
      font-family: "satoshi";
    }
  }
  @include for-tablet() {
    &__list {
      display: flex;
      justify-content: right;
      gap: 10px;
      &-item {
        padding: 0;
        a {
          color: #333;
        }
      }
    }

    &__menu {
      display: none;
    }
  }
}

.hamburger-menu-dash {
  position: relative;
  display: block;
  height: 0.4rem;
  background-color: #000;
  width: 3.2rem;
  transition: all 0.3s ease-in-out;
}
