.process {
  &__content {
    margin-top: 5rem;
    text-align: left;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, 1fr);
    @include for-tablet() {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
      grid-column-gap: 6rem;
      grid-row-gap: 4rem;
      margin-bottom: 4rem;
    }
    &-step {
      list-style-type: disc;
    }
    &-step li {
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
    }
    &-step-title {
      font-family: "Raleway", sans-serif;
      font-weight: 800;
      font-size: $process-title;
    }
  }
}
