.cards {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  @include for-desktop() {
    flex-direction: row;
  }
}
.card {
  font-family: "Raleway", sans-serif;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 6rem 4.5rem;
  border-radius: 11px;
  background: linear-gradient(
    135.8deg,
    rgba(0, 0, 0, 0.85) 69.93%,
    rgba(238, 238, 238, 0.85) 150.82%
  );
  color: #fff;
  text-align: left;
  &__title {
    font-weight: bold;
    font-size: $card-title;
  }
  &__description {
    font-weight: 400;
  }
  &__cta {
    color: $primary-color-900;
    font-size: $card-cta;
  }
}
