.hero {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  text-align: center;
  margin-top: 4.5rem;
}
.hero__title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  &-main {
    font-weight: bold;
    font-size: 3rem;
    line-height: 1.2;
    font-family: "Raleway", sans-serif;
  }
  &-accent {
    color: $primary-color;
  }
}
