.container {
  padding: 3rem 4rem;
  max-width: 60rem;
  margin: 0 auto;

  @include for-tablet() {
    max-width: 90rem;
    padding: 3rem 4.5rem;
  }
  @include for-desktop() {
    max-width: 114rem;
    padding: 3rem 5rem;
  }
  @include for-desktop-lg() {
    max-width: 140rem;
    padding: 3rem 5.5rem;
  }
}

.hidden {
  opacity: 0;
  visibility: hidden;
}
.show {
  transition: all 0.5s ease-in;
  transform: translateY(0%) !important;
}

.btn-cta {
  font-family: "Raleway", sans-serif;
  font-size: 1.6rem;
  color: #fff;
  background: linear-gradient(
    102.88deg,
    rgba(0, 0, 0, 0.9) 73.4%,
    rgba(238, 238, 238, 0.9) 106.37%
  );
  border-radius: 100px;
  padding: 1.6rem 3rem;
  text-decoration: none;
  font-weight: bold;
}

.section {
  margin-top: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

.section__sub-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
