---
import Section from "./Section.astro";


---

 <Section sectionTitle="Free Website Consulation" sectionID="calendly" subHeadline="Strategy Call" class="section">

<div class="calendly-inline-widget calendly" data-url="https://calendly.com/stefanovidmarmarketingagency/free-website-consultation?hide_event_type_details=1&hide_gdpr_banner=1"></div>

 </Section>


<!-- Calendly inline widget end -->

<script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js" async></script>