---
import CtaBtn from "./CtaBtn.astro"
---
<section class="conversion">
  <h2 class="conversion__title">
    Ready to Elevate Your Conversions? Let's Get Started!
  </h2>
  <CtaBtn title="Get Started Now" style="light"/>
</section>