---
import { Icon } from "astro-icon/components";
import CtaBtn from "./CtaBtn.astro";
---

<footer class="footer" id="footer">
<div class="footer__contant">
  <CtaBtn title="Book A Call" style="light"/>
  <h4 class="footer__content-title">Contact Us</h4>
  <p class="footer__content-mail">thekaizenagencyofficial@gmail.com</p>
  <h4 class="footer__content-follow">
    <div class="footer__content-follow-socials">
<Icon name="insta"/>
<Icon name="discord"/>
<Icon name="youtube"/>

    </div>
  </h4>
</div>
<div class="footer__copy">

</div>
</footer>