---
import { Icon } from "astro-icon/components";
import CtaBtn from "./CtaBtn.astro";
---

<footer class="footer" id="contact">
<div class="footer__content">
  <CtaBtn title="Book A Call" style="light"/>
  <h4 class="footer__content-title">Contact Us</h4>
  <p class="footer__content-mail">thekaizenagencyofficial@gmail.com</p>
  <h4 class="footer__content-follow"> Follow Us</h4>
    <!-- <div class="footer__content-follow-socials"> -->
<!-- <Icon name="insta"/>
<Icon name="discord"/>
<Icon name="youtube"/> -->
    <!-- </div> -->

</div>
<div class="footer__copy">
  <p>© 2024 Kaizen Media, LLC. All rights reserved.</p>
  <p>Made with ❤️ by Kaizen Media </p>
</div>
</footer>