---
import { Icon } from "astro-icon/components";


const socials = [

 {
  name: "insta",
  size: 32,
  link: '#'
}, 
{
  name: "discord",
  size: 32,
  link: "#"
}, 
{
  name: "youtube",
  size: 32,
  link:"https://youtube.com/@kaizensoftwaresolutions-fp1ly?si=4U24YM4XVoFMsuBP",
}]
---

<footer class="footer" id="contact">
<div class="footer__content">
  
  <h4 class="footer__content-title">Contact Us</h4>
  <p class="footer__content-mail">thekaizenagencyofficial@gmail.com</p>
  <h4 class="footer__content-follow"> Follow Us</h4>
    <div class="footer__content-follow-socials"> 

      {socials.map((social) => {

        return (
        <a href={social?.link} target="_blank">
          <Icon name={social.name} size={social.size}/>
        </a>

        )
      })}
<!-- <Icon name="insta" size={32}/>
<Icon name="discord" size={32}/>
<Icon name="youtube" size={32}/>  -->
    </div>

</div>
<div class="footer__copy">
  <p>© 2024 Kaizen Media, LLC. All rights reserved.</p>
  <p>Made with ❤️ by Kaizen Media </p>
</div>
</footer>