<form method="POST" action="https://script.google.com/macros/s/AKfycbzst1Esi6WKY4-Z4WhX6kQ87LKrTZcRv4eHQ9hLiLegIfaiFvfLiFQg2lLZKQYYC6W5hA/exec" class="form">
  <h2 class="form__title">Let's Get Started</h2>
    <div class="form__groups">
      <!-- Name Form Group -->
      <div class="form__group">
        <label class="form__group-label" for="name">Name:</label>
        <input class="form__group-input"type="text" id="name" name="name" placeholder="enter a name..." required>
    </div>
    
    <!-- Email Form Group -->
    <div class="form__group">
        <label class="form__group-label" for="email">Email:</label>
        <input class="form__group-input"type="email" id="email" name="email" required placeholder="example@gmail.com">
    </div>
    
    <!-- Website URL Form Group -->
    <div class="form__group">
        <label class="form__group-label" for="website">Website URL:</label>
        <input class="form__group-input"type="url" id="website" name="website" placeholder="https://">
    </div>
    </div>
  

<button type="submit" class="form__btn">Submit</button>
</form>

