---
import { Icon } from "astro-icon/components";
const navlinks = [
  {
    title: 'Home',
    url: '#home',
    index: '01',
  },
  {
    title: 'About',
    url: '#about',
    index: '02',
  },
  {
    title: 'Services',
    url: '#services',
    index:'03',
  },
  
  {
    title: 'Contact',
    url: '#contact',
    index: '04',
  },
]
---
<nav class="navigation">
    <a href="#home">
     <Icon name="logo" />
    </a>
    <div class="navigation__wrapper">
      <button class="navigation__menu" aria-expanded="false" aria-label="Open Mobile Navigation">
        <Icon name="menu" size={32} />
       </button>
       <ul class="navigation__list hidden">
        {
          navlinks.map((link) => {
            return(
            <li class="navigation__list-item">
          <a href={link.url}>{link.index} {link.title}</a>
            </li>
          )})
        }
      </ul>
    </div>
</nav>


<script>
const navBtn = document.querySelector(".navigation__menu");
const navDrawer = document.querySelector(".navigation__list");
navBtn.addEventListener('click', () => {
  navBtn.setAttribute('aria-expanded', navBtn.getAttribute('aria-expanded') === "false" ? 'true' : 'false')
  navDrawer.classList.toggle("hidden");
  navDrawer.classList.toggle("show");
})
</script>
