---
import Section from "./Section.astro"
import ServiceCards from "./ServiceCards.astro"
---

<Section sectionTitle="Best In Class Services" id="services" subHeadline="What We Offer">
  <div class="cards">
    <ServiceCards/>
  </div>
</Section>