---
const dataset = [
  
{
  icon: './assets/web_design_icon.svg',
  title : 'Custom Website Design',
  description: 'Stunning, responsive websites that captivate and convert. Let’s create your digital success story!',

}, 
{
  icon: './assets/web_design_icon.svg',
  title : 'Custom Website Design',
  description: 'Stunning, responsive websites that captivate and convert. Let’s create your digital success story!',
}

]
---


<div class="cards__container">
  {dataset.map((data) => {
    return <div class="card">
      <h3 class="card__title">
        {data.title}
      </h3>
      <p class="card__description">
        {data.description}
      </p>
    </div>
  })}
</div>