---
import Container from '../components/Container.astro';

const {backgroundColor = "--background-color-page1", textColor} = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap" rel="stylesheet">
		<title>Kaizen Web Design Agency</title>
	</head>
	<body style=`background: var(${backgroundColor}); color:${textColor}`>
	<Container>
			<slot/>
	</Container>
	</body>
</html>
